:root {
    --heading-color: #212121;
    --logo-web-color: #2196f3;
    --link-active-color: #2196f3;
    --btn-back-clr: #2196f3;
    --btn-clr: #fff;
    --footer-back-clr: #2F303A;
    --subtitle-clr: #757575;
    --list-heading-clr: #212121;
    --body-color: #fff;
}

* {
    /* outline: 1px dashed rgb(154, 66, 154); */
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

body {
    font-family: 'Roboto', 'Tahoma', 'Verdana', sans-serif;
    font-style: normal;
    font-weight: 700;
    background-color: var(--body-color);
    color: #212121;
}

/* выравнивание */
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    align-content: center;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* скрывалка */
.hdn {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* апперкейс для спана */
.upper {
    text-transform: uppercase;
}

/* убирает стиль списка */
.list {
    list-style: none;
}

/* убирает декорацию ссылок */
.link {
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: var(--link-active-color);
}

/* ШАПКА */
.header {
    /* height: 80px; */
    background-color: var(--body-color);
    border-bottom: 1px solid #ECECEC;
    padding: 24px 0;
}

.header .container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav:not(:first-child) {
    align-content: center;
}

.header-logo {
    margin-right: 93px;
    color: #000;
}

.logo {
    font-family: 'Raleway', 'Verdana', sans-serif;
    font-weight: inherit;
    width: 145px;
    /* height: 31px; */
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    display: flex;
}

.logo-web {
    color: var(--logo-web-color);
}

.header-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-item {
    margin-right: 50px;
    justify-content: center;
}

.header-item:last-child {
    margin-right: 0;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--heading-color);
}

.header-link.current {
    color: var(--link-active-color)
}

.header-contacts {
    display: flex;
    margin-left: auto;
}

.contacts-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.contacts-item:nth-child(1) {
    /* background-image: url(../images/envelope.svg);
    fill: currentColor;
    background-repeat: no-repeat;
    background-position: left; */
    margin-left: 0;
}

/* .contacts-item:nth-child(2) {
    background-image: url(../images/smartphone.svg);
    fill: currentColor;
    background-repeat: no-repeat;
    background-position: left;
} */

.contacts-link {
    display: inline-flex;
    /* justify-content: center; */
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.contacts-link:hover,
.contacts-link:focus .contacts-icon {
    fill: var(--link-active-color);
}

.contacts-icon {
    display: inline-flex;
    fill: currentColor;
    padding: 0;
    margin-right: 10px;
}

/* --------СТРАНИЦА СТУДИЯ-------- */
.main-index {
    background-color: inherit;
    color: inherit;
}

/* ГЕРОЙ */
.hero {
    /* height: 600px; */
    padding: 200px 0;
    background-color: #2f303a;
}

.overlay {
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-command.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-heading {
    width: 696px;
    /* height: 120px; */
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin: 0 auto 30px;
}

.btn {
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-style: inherit;
    font-size: 16px;
    display: inline-block;
}

.index-btn {
    width: 200px;
    height: 50px;
    font-weight: inherit;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--btn-clr);
    background-color: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.index-btn:hover,
.index-btn:focus {
    background-color: #188CE8;
    color: var(--btn-clr);
}

/* ПРЕИМУЩЕСТВА */
.benefits {
    display: flex;
    align-items: center;
    padding-top: 94px;
}

/* список иконок в преимуществах */
.benefits-icons-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.benefits-icon-item {
    display: flex;
    /* justify-content: center;
    align-items: center;
     padding: 25px 100px; */
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
}

.benefits-icon-item:nth-child(1) {
    background-color: #F5F4FA;
    background-image: url(../images/antenna.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
}

.benefits-icon-item:nth-child(2) {
    background-color: #F5F4FA;
    background-image: url(../images/clock.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
}

.benefits-icon-item:nth-child(3) {
    background-color: #F5F4FA;
    background-image: url(../images/diagram.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
}

.benefits-icon-item:nth-child(4) {
    background-color: #F5F4FA;
    background-image: url(../images/astronaut.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
}

.benefits-icon-item:not(:last-child) {
    margin-right: 30px;
}

.benefits-icon {
    display: block;
}

.benefits-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefits-item {
    width: 270px;
}

.benefits-item:not(:last-child) {
    margin-right: 30px;
}

.benefits-heading {
    /* width: 270px; */
    margin-bottom: 10px;
    font-weight: inherit;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--heading-color);
}

.benefits-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    min-height: 75px;
}

/* ЗАНЯТИЯ */
.tasks {
    background-color: inherit;
}

.tasks .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tasks-heading {
    font-weight: inherit;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--heading-color);
    margin-bottom: 50px;
}

.tasks-list {
    display: flex;
    align-items: center;
}

.tasks-item {
    width: 370px;
}

.tasks-item:not(:last-child) {
    margin-right: 30px;
}

.tasks-defin-photo {
    display: block;
    max-width: 100%;
    height: auto;
}

/* КОМАНДА */
.team {
    background-color: #F5F4FA;
}

.team .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.team-heading {
    font-weight: inherit;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--heading-color);
    margin-bottom: 50px;
}

.team-list {
    display: flex;
    align-items: center;
}

.team-item {
    width: 270px;
    background-color: var(--body-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
    margin-right: 30px;
}

.team-photo {
    display: block;
    max-width: 100%;
    height: auto;
    /* flex-shrink: 0; */
}

.team-container {
    padding: 30px 0;
}

.img-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--list-heading-clr);
    margin: 0 auto 10px;
}

.img-prof {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--subtitle-clr);
    margin: auto 0 16px;
}

/* список иконок соцсетей команды */
.team-icons-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 206px;
    margin: 0 auto;
}

.team-icon-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    /* height: 44px; */
    background-color: #fff;
    border-radius: 50%;
}

.team-icon-item:not(:last-child) {
    margin-right: 10px;
}

.team-icon-link {
    display: inline-flex;
    width: 44px;
    height: 44px;
    padding: 12px;
    color: #AFB1B8;
}

.team-icon-link:hover,
.team-icon-link:focus {
    background-color: var(--link-active-color);
    color: var(--btn-clr);
    border-radius: 50%;
}

.team-soc-icon {
    display: block;
    fill: currentColor;
}

/* КЛИЕНТЫ */
.clients {
    background-color: inherit;
}

.clients .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.clients-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--heading-color);
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients-item {
    width: 170px;
    /* height: 92px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients-item:not(:last-child) {
    margin-right: 30px;
}

.clients-link {
    display: inline-block;
    width: 170px;
    height: 92px;
    padding: 16px 32px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;
}

.clients-link:hover,
.clients-link:focus {
    border: 1px solid var(--link-active-color);
    color: var(--link-active-color);
}

/* цвет иконок клиентов*/
.clients-icon {
    display: block;
    fill: currentColor;
}

/* ФУТЕР */
.footer {
    background-color: var(--footer-back-clr);
    height: 252px;
    padding: 60px 0;
}

.footer .container {
    display: flex;
    justify-content: flex-start;
    /* flex-direction: column; */
}

.footer-address {
    width: 231px;
    margin-right: 70px;
}

.footer-logo {
    color: #fff;
    margin-bottom: 20px;
}

.address {
    width: 231px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.address-text {
    display: block;
    width: 231px;
    color: #fff;
}

.footer-link {
    width: 231px;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 9px;
}

.footer-section-follow {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
}

.follow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 206px;
}

.follow-heading {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.follow-list {
    display: flex;
    /* justify-content: ;
    align-items: ; */
}

.follow-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    /* height: auto; */
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.follow-item:not(:last-child) {
    margin-right: 10px;
}

.follow-link {
    display: inline-flex;
    width: 44px;
    height: 44px;
    padding: 12px;
    color: var(--btn-clr);
}

.follow-link:hover,
.follow-link:focus {
    background-color: var(--link-active-color);
    border-radius: 50%;
    color: var(--btn-clr);
}

.follow-icon {
    display: block;
    fill: currentColor;
}

/* ---СТРАНИЦА ПОРТФОЛИО--- */
.main-portfolio {
    background-color: inherit;
    color: inherit;
}

/* ПРОЕКТЫ */
.projects {
    display: flex;
    align-items: center;
}

.buttons-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.buttons-item:not(:last-child) {
    margin-right: 8px;
}

/* КНОПКА кнопка */
.item-btn {
    font-weight: 500;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: inherit;
    background-color: #F5F4FA;
    padding: 6px 22px;
}

.item-btn:hover,
.item-btn:focus {
    background-color: var(--btn-back-clr);
    color: var(--btn-clr);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.project-item {
    background-color: var(--body-color);
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-basis: calc((100% - 60px) / 3);
}

.project-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* .project-link:hover,
.project-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
} */

.project-img {
    display: block;
    max-width: 100%;
    height: auto;
}

.project-img-text {
    padding: 20px 24px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
}

.project-heading {
    font-weight: inherit;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--list-heading-clr);
    margin: 0 auto 4px;
}

.project-sub {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--subtitle-clr);
    margin: 0 auto;
}